@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'roboto mono';
  background-color:darkslategray;
  line-height: 1.6;
  color: #fff;
}

ul {
  list-style: none;
}

.container {
  max-width: 768px;
  margin: 100px auto;
  padding: 0 20px;
}
